*{ margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
   
}

@font-face{  font-family: 'Oswald', sans-serif;
    
    src: url('letra/Oswald-Bold.ttf') format('ttf');
    src: url('letra/Oswald-ExtraLight.ttf') format('ttf');
    src: url('letra/Oswald-Light.ttf') format('ttf');
    src: url('letra/Oswald-Medium.ttf') format('ttf');
    src: url('letra/Oswald-Regular.ttf') format('ttf');
    src: url('letra/Oswald-SemiBold.ttf') format('ttf');

}
.headerclass{
    background-color: #ffffff ;
    color: #1b1c20;
 }

 .bodyclass{
    background-image: url(https://images.unsplash.com/photo-1484807352052-23338990c6c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: fixed;
    min-width: 100%;
   
    }

 .mainclass{
        min-width: 100%;
    
        
        
    }
    

.divtitulo{
    color: white;
    text-align: center;
   
    
}
.etiqueta{color: white;
    margin: 5px;

}
.combo{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 30%;
    min-height: 30px;
    border-radius: 4px;
    text-align:justify;
    margin: 5px;
}


#edad:out-of-range{border-color: red;}

.comboradio{
    color:white;
  
}

.formulario{
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    text-align: center;
    align-items: center;
    padding: 10px;
    gap:0,5 rem;
}
select option {
    font-weight: bold;
}

.formulario2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: white;
    gap:0,5 rem;
    
}

.formulario3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: white;
    gap:0,5 rem;
    

}

.checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.listCheck{
    display: block;
    list-style-type: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 10px;



}

.combobox{
  padding: 10px;
  margin: 10px;



}



.formulario4{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    padding: 10px;
    color: white;
    gap:0,5 rem;
   


}
.radio{
    display:inline-table;
    

}

.comentarios{
    min-width:30%;
    min-height: 10vh;
    border-radius: 4px;
    max-width:100%;
    height:100%;
    width:30%;
    color: white;
    margin:5px;
    gap:0,5 rem;

    


}
.boton{
    min-width: 30%;
    min-height: 10px;
    border-radius: 4px;
    padding: 10px;
    margin:5px;
    gap:0,5 rem;



}

span::after {
    padding-left: 5px;
  }
  
  input:invalid + span::after {
    content: '✖';
  }
  
  input:valid+span::after {
    content: '✓';
  }