*{font-family: 'Oswald', sans-serif;
}

.headerclass{
    background-color: #ffffff ;
    color: #1b1c20;
 }

 .bodyclass{
     background-image: url(https://images.unsplash.com/photo-1484807352052-23338990c6c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    background-repeat: repeat-y;
    background-size:cover;
    display:flexbox;
    }

    
    
   


.divtitulo{
    color: white;
    text-align: center;
   
    
}
.etiqueta{color: white;

}
.combo{display: block;

    width: 350px;

   

}

.comboradio{display: inline-flexbox;
    color:white
  
}

.formulario{text-align: center;
    color: white;
   

}

.combobox{display:block;

    text-align: center;

}

.mainclass{
    background:transparent;
}
