*{font-family: 'Oswald', sans-serif;
}

.headerclass{
    background-color: #ffffff ;
    color: #1b1c20;
 }

 .bodyclass{
    background-image: url(https://images.unsplash.com/photo-1484807352052-23338990c6c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: fixed;
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
    min-width: 100%;
   
    }

 .mainclass{
        background:transparent;
        align-content: center;
        min-width: 100%;
        
    }
    

.divtitulo{
    color: white;
    text-align: center;
   
    
}
.etiqueta{color: white;

}
.combo{

    min-width: 350px;
  

}

#edad:out-of-range{border-color: red;}

.comboradio{display: inline-flexbox;
    color:white
  
}

.formulario{
    color: white;
    display:inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
   

}


